<!-- <h2>Mrs{{fname}} works in {{companyName}} and emplid is{{id}}</h2> -->
<!-- <img [src]="imageURL" alt="" height="200px" width="150px"> -->
<!--  
  
<img [src]="link" alt="" >
<h1>{{content}}</h1> -->
<!-- <label for="">Enter</label> -->
<!-- <input type="text" (input)="magic($event)">
<button (click)="magic()">click and see magic</button> 
 <button (click)="Newmagic()">click</button>   -->
 <!-- <input type="text" [(ngModel)]="Product">
<h1>{{Product}}</h1>  -->
<!-- <div [class]="Tejasri"></div> -->