<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Place</th>
        <th scope="col">Distance</th>
        <th scope="col">Climate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let place of componentData; index as i" >
        <th scope="row">{{i+1}}</th>
        <td>{{place.pName}}</td>
        <td>{{place.distance}}</td>
        <td>{{place.climate}}</td>
      </tr>
      
    </tbody>
  </table>
<input type="text" [(ngModel)]="placeName">
<button (click)="sendToService()">submit</button>
<button (click)="data.callingFromHtml()">callservice</button>