<!-- This is a parent component<br> -->
<!-- <app-child [traineeName]="studentName"></app-child> -->

 <!-- <app-first></app-first>  -->
<app-header></app-header>
<!-- <app-query1></app-query1> -->
  <!-- <app-places></app-places>   -->
 <!-- <app-teja></app-teja>   -->
 <!-- <app-ngstyle></app-ngstyle> -->
<!-- <app-practice></app-practice>  -->

 <!-- <h1>teja</h1>
<h1  appCustom  >hi teja</h1>

<h1>sri</h1> --> 
<!-- <input appCustom type="text"> -->
<!-- <app-parent></app-parent> -->
<!-- <app-example2></app-example2> -->
<!-- <app-tej></app-tej> -->